{% extends "metronics/base.html" %}
{% load static %}

{% load mathfilters %}
{% load humanize %}
{% load l10n %}
{% load poll_extras %}

{% block title %} Products Details {% endblock %}

{% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Products Details</h5>
                <!--end::Page Title-->

                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                <!-- <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
				<a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a> -->
                <!--end::Actions-->

                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="{% url 'admin_index' %}" class="text-muted">Admin Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-muted">Products Details</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->



            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <!-- <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Today</a>
				<a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Month</a>
				<a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Year</a> -->
                <!--end::Actions-->
                <!--begin::Daterange-->
                <a href="#" class="btn btn-sm btn-light font-weight-bold mr-2" data-toggle="tooltip"
                    data-placement="left">
                    <span class="text-muted font-size-base font-weight-bold mr-2"
                        id="kt_dashboard_daterangepicker_title">Today</span>
                    <span class="text-primary font-size-base font-weight-bolder"
                        id="kt_dashboard_daterangepicker_date">{% now "jS F Y" %}</span>
                </a>
                <!--end::Daterange-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->

    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Page Layout-->
                <div class="d-flex flex-row">
                    <!--begin::Layout-->
                    <div class="flex-row-fluid">
                        <!--begin::Section-->
                        <div class="row">
                            <div class="col-md-7 col-lg-12 col-xxl-7">
                                <!--begin::Engage Widget 14-->
                                <div class="card card-custom card-stretch gutter-b">
                                    <div class="card-body p-15 pb-20">
                                        <div class="row mb-17">
                                            <div class="col-xxl-5 mb-11 mb-xxl-0">
                                                <!--begin::Image-->
                                                <div class="card card-custom card-stretch">
                                                    <div
                                                        class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center">
                                                        {% if product_details.image_1 %}
                                                        <img src="{{ product_details.image_1.url }}"
                                                            class="mw-100 w-200px" style="transform: scale(1.6);" />
                                                        {% else %}
                                                        <img src="{% static 'assets/media/products/21.png' %}"
                                                            class="mw-100 w-200px" style="transform: scale(1.6);" />
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--end::Image-->
                                            </div>
                                            <div class="col-xxl-7 pl-xxl-11">
                                                <h2 class="font-weight-bolder text-dark mb-7" style="font-size: 32px;">
                                                    {{ product_details.name }}
                                                </h2>
                                                <div class="font-size-h2 mb-7 text-dark-50">Price
                                                    <span class="text-info font-weight-boldest ml-2">&#8377;
                                                        {{ product_details.product_price }}</span>
                                                </div>
                                                <div class="line-height-xl">{{ product_details.content_1|safe }}
                                                </div>
                                            </div>

                                            <!-- <div class="col-xxl-7 pl-xxl-11">

                                                <div class="font-size-h2 mb-7 text-dark-50">Benefits
                                                </div>
                                                <div class="line-height-xl">{{ product_details.benefits|safe }}</div>
                                            </div> -->

                                            <div class="col-xxl-7 pl-xxl-11">

                                                <div class="font-size-h2 mb-7 text-dark-50">Descriptions
                                                </div>
                                                <div class="line-height-xl">{{ product_details.content_2|safe }}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end::Engage Widget 14-->
                            </div>
                        </div>
                        <!--end::Section-->
                        <!--begin::Section-->
                        <!--begin::Advance Table Widget 10-->
                        
                        <!--end::Advance Table Widget 10-->
                        <!--end::Section-->
                    </div>
                    <!--end::Layout-->
                </div>
                <!--end::Page Layout-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->

</div>
{% endblock %}