{% extends "metronics/base.html" %}
{% load static %}

{% load mathfilters %}
{% load humanize %}
{% load l10n %}
{% load poll_extras %}

{% block title %}

{% if not form.instance.pk %}
Brownfold Blog Create
{% else %}
Brownfold Blog Update
{% endif %}

{% endblock %}

{% block css %}

<!-- Select2 -->
<link href="{% static 'inspinia/css/plugins/select2/select2.min.css' %}" rel="stylesheet">


<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 14px !important;
    }
</style>

{% endblock %}

{% block head_extra %} 

{{ form.media }}

{% endblock head_extra %}


{% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                {% if not form.instance.pk %}
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Blog Create</h5>
                {% else %}
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Blog Update</h5>
                {% endif %}
                <!--end::Page Title-->

                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                <!-- <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
				<a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a> -->
                <!--end::Actions-->

                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="{% url 'admin_index' %}" class="text-muted">Admin Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        {% if not form.instance.pk %}
                        <a href="#" class="text-muted">Blog Create</a>
                        {% else %}
                        <a href="#" class="text-muted">Blog Update</a>
                        {% endif %}
                    </li>
                </ul>
                <!--end::Breadcrumb-->



            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <!-- <a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Today</a>
				<a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Month</a>
				<a href="#" class="btn btn-clean btn-sm font-weight-bold font-size-base mr-1">Year</a> -->
                <!--end::Actions-->
                <!--begin::Daterange-->
                <a href="#" class="btn btn-sm btn-light font-weight-bold mr-2" data-toggle="tooltip"
                    data-placement="left">
                    <span class="text-muted font-size-base font-weight-bold mr-2"
                        id="kt_dashboard_daterangepicker_title">Today</span>
                    <span class="text-primary font-size-base font-weight-bolder"
                        id="kt_dashboard_daterangepicker_date">{% now "jS F Y" %}</span>
                </a>
                <!--end::Daterange-->

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->

    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <!--begin::Card-->
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            {% if not form.instance.pk %}
                                <h3 class="card-title">Blog Create</h3>
                            {% else %}
                                <h3 class="card-title">Blog Update</h3>
                            {% endif %}
                            <div class="card-title pull-right">
                                {% if form.instance.pk %}
                                <a href="{% url 'blog:blogdetail' blog_slug=form.instance.slug %}" class="btn btn-warning" style="margin-right: 5px;" target="__blank"><i class="flaticon-eye"></i> View On Site</a>
                                {% endif %}
                                <a href="{% url 'blog:blog_list_admin' %}" class="btn btn-success"><i class="flaticon-eye"></i> View All Blogs</a>
                            </div>
                        </div>

                        
                        <!--begin::Form-->
                        <form method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Blog Title
                                        <span class="text-danger">*</span></label>
                                    {{ form.blog_title }}
                                    {{ form.blog_title.errors }}
                                </div>
                                <div class="form-group">
                                    <label>Post Date
                                        <span class="text-danger">*</span></label>
                                    {{ form.post_date }}
                                    {{ form.post_date.errors }}
                                </div>

                                <div class="form-group">
                                    <label>Description
                                        <span class="text-danger">*</span></label><br>
                                    {{ form.description }}
                                    {{ form.description.errors }}
                                </div>

                                <div class="form-group">
                                    <label>Blog Image</label>
                                    {{ form.blog_image }}
                                    {{ form.blog_image.errors }}
                                    <span class="form-text text-muted">{{ form.blog_image.help_text }}</span>
                                </div>

                                <div class="form-group">
                                    <label>Category
                                        <span class="text-danger">*</span></label>
                                    {{ form.category }}
                                    {{ form.category.errors }}
                                </div>

                                <div class="form-group">
                                    <label>Tags
                                        <span class="text-danger">*</span></label>
                                    {{ form.tags }}
                                    {{ form.tags.errors }}
                                </div>


                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<!--begin::Page Scripts(used by this page)-->
<!-- Select2 -->
<script src="{% static 'inspinia/js/plugins/select2/select2.full.min.js' %}"></script>
<!--end::Page Scripts-->

<script>
    $(document).ready(function () {
      $(".select2_demo_2").select2({
        placeholder: "Select a category",
        width: '100%',
      });
      
      $(".select2_demo_3").select2({
        placeholder: "Select tags",
        width: '100%',
        allowClear: true
      });
    });

  </script>

{% endblock %}