{% extends "base_2.html" %}
{% load static %}

{% block title %} Case Study Details {% endblock %}


{% block css %}

<link rel="stylesheet" href="{% static 'assets/css/casecss.css' %}">

{% endblock %}


{% block content %}
<!-- section -->
<!-- section -->
<section style="margin-top: 10rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-uppercase fw-bold text-center mrb">
                <span class="h3">
                    fINANCIAL digital solutions <span class="text-white" style="background-color: black;">for
                        pEOPLE</span> in iNDIA
                </span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <span>
                    A mobile app that aids students looking to excel in competitive exams, while simultaneously
                    guiding and motivating them to achieve better results.
                </span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 d-flex justify-content-end">
                        <i class="fa-solid fa-play" style="color: #7127d0;"></i>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <img src="{% static 'assets/img_new/line.svg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span>4 MIN. READ</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-2 col-md-2 col-lg-2 d-flex justify-content-end">
                        <a href="#"><i class="fa-brands fa-twitter"></i></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<section>
    <div class="container-fluid" style="margin-top: 5rem !important;">
      
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 left_rec">
                <img src="{% static 'assets/img_new/c_s_d.svg' %}" style="width: 100%;height: 120%;" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 10rem;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <span class="h2 text-purple">42+</span><br>
                        <span>Hours Saved Weekly</span>
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <span class="h2 text-purple">160+</span><br>
                        <span>Requestes Submitted</span>
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <span class="h2 text-purple">$204+</span><br>
                        <span>Saved on Design</span>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<section>
    <div class="container" style="margin-top: 10rem;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center mrb_1">
                <span>BROWNFOLD</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center text-uppercase fw-bold mrb_1">
                <span class="h3">Our Customized Work Flow</span>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<section>

 
  <div class="container" style="background-image: url('paper.gif'); margin-left: 18rem;">
    
    <div class="row ocwf" onclick="$('.ocwf').removeClass('social');$(this).addClass('social');$('image').hide();$('.social').find('image').show()">
      
      <div class="col-sm-2 ">
        <span class="mrb"><sup>01</sup></span>
        <span class="h3">CONCEPT</span>
      </div>
      <div class="col-sm-2">
        <svg height="150" width="150">
          <line x1="20" y1="27" x2="204" y2="270" style="stroke:rgb(113, 39, 108);stroke-width:2"></line>
          <circle cx="20" cy="25" r="10"  fill="rgb(113, 39, 108)"></circle>
          <defs>
            <clipPath id="myCircle">
               <circle cx="0" cy="0" r="125" fill="#FFFFFF"></circle>
            </clipPath>
         </defs>
         <image style ="display:none" clip-path="url(#myCircle)" xlink:href="{% static 'assets/img_new/arrow.png' %}" height="80" width="80">

         </image>
        </svg>
      </div>
      <div class="col-sm-4 ">
        <span style="
font-size: x-small;
">
          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
      </span>
      </div>
    </div>
    <div class="container-fluid hborder"></div>
  <div class="row ocwf" onclick="$('.ocwf').removeClass('social');$(this).addClass('social');$('image').hide();$('.social').find('image').show()">
    <div class="col-sm-1 ">
      </div>
      <div class="col-sm-2 ">
        <span class="mrb"><sup>02</sup></span>
        <span class="h3">BUDGET</span>
      </div>
      <div class="col-sm-2">
        <svg height="150" width="150">
          <line x1="3" y1="0" x2="204" y2="270" style="stroke:rgb(113, 39, 108);stroke-width:2"></line>
          <circle cx="43" cy="50" r="10"  fill="rgb(113, 39, 108)"></circle>
          <defs>
            <clipPath id="myCircle">
               <circle cx="0" cy="0" r="125" fill="#FFFFFF"></circle>
            </clipPath>
         </defs>
         <image style ="display:none" clip-path="url(#myCircle)" xlink:href="{% static 'assets/img_new/arrow.png' %}" height="80" width="80">

         </image>
        </svg>
      </div>
      <div class="col-sm-4 ">
        <span style="
font-size: x-small;
">
          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
      </span>
      </div>
    </div>
    <div class="container-fluid hborder"></div>
    <div class="row ocwf" onclick="$('.ocwf').removeClass('social');$(this).addClass('social');$('image').hide();$('.social').find('image').show()">
      <div class="col-sm-4 ">
        <span style="
font-size: x-small;
">
          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
      </span>
      </div>
      <div class="col-sm-2 ">
        <svg height="150" width="150">
          <line x1="5" y1="0" x2="204" y2="270" style="stroke:rgb(113, 39, 108);stroke-width:2"></line>
          <circle cx="43" cy="50" r="10"  fill="rgb(113, 39, 108)"></circle>
          <defs>
            <clipPath id="myCircle">
               <circle cx="0" cy="0" r="125" fill="#FFFFFF"></circle>
            </clipPath>
         </defs>
         <image style ="display:none" clip-path="url(#myCircle)" xlink:href="{% static 'assets/img_new/arrow.png' %}" height="80" width="80">

         </image>
        </svg>
      </div>
      <div class="col-sm-3 ">
        <span class="mrb"><sup>03</sup></span>
        <span class="h3">DEVELOPMENT</span>
      </div>
    </div>
    <div class="container-fluid half_l_border"></div>
    <div class="container-fluid half_r_border"></div>
    <div class="row ocwf" onclick="$('.ocwf').removeClass('social');$(this).addClass('social');$('image').hide();$('.social').find('image').show()">
      <div class="col-sm-1 "></div>
      <div class="col-sm-4 ">
        <span style="
font-size: x-small;
">
          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
      </span>
      </div>
      <div class="col-sm-2">
        <svg height="150" width="150">
          <line x1="5.5" y1="0" x2="30" y2="33" style="stroke:rgb(113, 39, 108);stroke-width:2"></line>
          <circle cx="35" cy="40" r="10" fill="rgb(113, 39, 108)"></circle>
          <defs>
            <clipPath id="myCircle">
               <circle cx="0" cy="0" r="125" fill="#FFFFFF"></circle>
            </clipPath>
         </defs>
         <image style ="display:none" clip-path="url(#myCircle)" xlink:href="{% static 'assets/img_new/arrow.png' %}" height="80" width="80">

         </image>
        </svg>
      </div>
      <div class="col-sm-3 ">
        <span class="mrb"><sup>02</sup></span>
        <span class="h3">RESULT</span>
      </div>
    </div>
  
  </div>





    <!-- <div class="container" >
      <div class="row">
        
        <div class="col-sm-2">
          <span class="mrb"><sup>01</sup></span>
          <span class="h3">CONCEPT</span>
        </div>
        <div class="col-sm">
          <svg height="150" width="150">
            <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
          </svg>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    <div class="row">
        <div class="col-sm-3">
          <span class="mrb"><sup>02</sup></span>
          <span class="h3">BUDGET</span>
        </div>
        <div class="col-sm">
          <svg height="150" width="150">
            <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
          </svg>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          One of three columns
        </div>
        <div class="col-sm-4">
          <svg height="150" width="150">
            <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
          </svg>
        </div>
        <div class="col-sm">
          <span class="mrb"><sup>03</sup></span>
          <span class="h3">DEVELOPMENT</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          One of three columns
        </div>
        <div class="col-sm">
          <svg height="150" width="150">
            <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
          </svg>
        </div>
        <div class="col-sm">
          <span class="mrb"><sup>02</sup></span>
          <span class="h3">RESULT</span>
        </div>
      </div>
    
    </div> -->








      <!-- <div class="container-fluid">
          <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4 f1">
                  <div class="row">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 " style="margin-left: 6rem; ">
                          <span class="mrb"><sup>01</sup></span>
                          <span class="h3">CONCEPT</span>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                    </div>
                      <div class="col-sm-12 col-md-12 col-lg-12" style=" margin-left: 12rem;">
                          <span class="mrb"><sup>02</sup></span>
                          <span class="h3">BUDGET</span>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12">
                          <span>
                              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                          </span>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12">
                          <span>
                              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                          </span>
                      </div>
                  </div>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2">
                  <img src="{% static 'assets/img_new/Untitled.svg' %}" alt="" style="height: 40rem;">
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 f2">
                  <div class="row">
                      
                      <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: 2.5rem;">
                          <span>
                              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                          </span>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: 6rem;">
                          <span class="mrb"><sup>03</sup></span>
                          <span class="h3">DEVELOPMENT</span>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: 8rem;">
                          <span class="mrb"><sup>02</sup></span>
                          <span class="h3">RESULT</span>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </section>



  <!-- <div class="container" style="background-image: url('paper.gif');">
    <div class="row" >
      
      <div class="col-sm">
        <span class="mrb"><sup>01</sup></span>
        <span class="h3">CONCEPT</span>
      </div>
      <div class="col-sm" >
        <svg height="150" width="150">
          <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
        </svg>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  <div class="row">
      <div class="col-sm">
        <span class="mrb"><sup>02</sup></span>
        <span class="h3">BUDGET</span>
      </div>
      <div class="col-sm">
        <svg height="150" width="150">
          <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
        </svg>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        <svg height="150" width="150">
          <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
        </svg>
      </div>
      <div class="col-sm">
        <span class="mrb"><sup>03</sup></span>
        <span class="h3">DEVELOPMENT</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        <svg height="150" width="150">
          <line x1="0" y1="0" x2="204" y2="270" style="stroke:rgb(0, 0, 0);stroke-width:2"></line>
        </svg>
      </div>
      <div class="col-sm">
        <span class="mrb"><sup>02</sup></span>
        <span class="h3">RESULT</span>
      </div>
    </div>
  
  </div> -->








    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 f1">
                <div class="row">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 " style="margin-left: 6rem; ">
                        <span class="mrb"><sup>01</sup></span>
                        <span class="h3">CONCEPT</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <span>
                          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                      </span>
                  </div>
                  </div>
                    <div class="col-sm-12 col-md-12 col-lg-12" style=" margin-left: 12rem;">
                        <span class="mrb"><sup>02</sup></span>
                        <span class="h3">BUDGET</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <img src="{% static 'assets/img_new/Untitled.svg' %}" alt="" style="height: 40rem;">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 f2">
                <div class="row">
                    
                    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: 2.5rem;">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: 6rem;">
                        <span class="mrb"><sup>03</sup></span>
                        <span class="h3">DEVELOPMENT</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: 8rem;">
                        <span class="mrb"><sup>02</sup></span>
                        <span class="h3">RESULT</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- end -->
<!-- section -->
<!-- <section>
    <div class="container" style="border: 1px solid #7127d0;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 text-purple f2">
                        <span class="mrb"><sup>02</sup></span>
                        <span class="h3">BUDGET</span>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10 text-purple tilt-line">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- end -->
<!-- section -->
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10purple">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="mrb"><sup>03</sup></span>
                        <span class="h3">DEVELOPMENT</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- end -->
<!-- section -->
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <span>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
                        </span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <span class="mrb"><sup>04</sup></span>
                        <span class="h3">RESULT</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- end -->
<!-- section -->
<section style="margin-top: 10rem;">
    <div class="container bg-rect">
        <div class="row" style="
height: 450px;     background: #7127d0;
">
            <div class="col-md-6 col-lg-6 obj1" style="
height: 450px;
">
                <h1 style="webkit-text-stroke: 1px yellow;
                color: #7127d0;
                text-shadow: 5px 7px 3px #0000003d, -1px -1px 0 transparent, 1px -1px 0 yellow, -1px 1px 0 #0f0f0d91, 1px 1px 0 yellow;
                font-size: 8rem;">OBJECTIVE</h1>
                <p class="text-white">
                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                </p>
                <p class="text-white">
                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 pattern" style="
height: 721px;
">
                <img src="{% static 'assets/img_new/pattern1.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<section style="margin-top: 10rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mrb">
                <span>ABOUT</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-uppercase fw-bold mrb_1">
                <span class="h3">About the Company</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. 

All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of. 
                </span>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'assets/img_new/1.svg' %}" alt="" class="ing-fluid">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 px-2" style="padding-left: 5rem !important;">
            <img src="{% static 'assets/img_new/2.svg' %}" alt="" class="ing-fluid">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left: 2.5rem !important;">
            <img src="{% static 'assets/img_new/3.svg' %}" alt="" class="ing-fluid">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mrb"></div>            
        <div class="col-sm-4 col-md-4 col-lg-4">
            <img src="{% static 'assets/img_new/4.svg' %}" alt="" class="ing-fluid">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 px-2" style="padding-left: 11rem !important;padding-top: 3rem;">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 mrb">
                    <img src="{% static 'assets/img_new/5.svg' %}" alt="" class="ing-fluid">
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <img src="{% static 'assets/img_new/7.svg' %}" alt="" class="ing-fluid">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 mrb_1">
                    <img src="{% static 'assets/img_new/6.svg' %}" alt="" class="ing-fluid">
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <img src="{% static 'assets/img_new/8.svg' %}" alt="" class="ing-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end -->
<!-- section -->
<section>
    <div class="container" style="margin-top: 10rem; margin-bottom: 5rem;">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <span>FEATURES</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 fw-bold text-uppercase mrb_1">
                        <span class="h3">Fund Transfer
                            Without Limits</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table>
                            <tr>
                                <td style="width:10%"><img src="{% static 'assets/img_new/Vector.svg' %}" alt="" class="img-fluid"></td>
                                <td>
                                    <span class="text-uppercase fw-bold">industry leading designers</span><br>
                                    <span>We have team of world class UI / UX Designers to take care of user interface.</span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'assets/img_new/Vector.svg' %}" alt="" class="img-fluid"></td>
                                <td>
                                    <span class="text-uppercase fw-bold">Higest coding standards</span><br>
                                    <span>We follow W3C web standards and basic framework / library rules to make sure each of our products are easy to use.</span>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="{% static 'assets/img_new/Vector.svg' %}" alt="" class="img-fluid"></td>
                                <td>
                                    <span class="text-uppercase fw-bold">Multiple testing</span><br>
                                    <span>we have limited number of products, but each of them went through several testing phases, so you receive the best end product.</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 right_rec" id="hand">
                <div>
                    <img src="{% static 'assets/img_new/hand.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<section>
    <div class="container">
        <div class="row mrb_1">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img class="img-fluid" src="{% static 'assets/img_new/person_laptop.svg' %}" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 8rem !important;">
                <div class="row">
                    <div class="col12">
                        <span>HOW IT WORKS</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 fw-bold mrb">
                        <p class="h5">FIX YOUR GRAPHIC DESIGN BOTTELNECK, GUARANTEED</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mrb">
                        <span>Centralize your unlimited graphic design needs with flexible creative subscription
                            plans and designers who can execute on your creative vision, with a fraction of the
                            hassel.</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="btn btn-primary rounded-pill">SEE PLANS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  {% endblock %}
