{% extends "base_2.html" %}
{% load static %}


{% block content %}
<!-- section -->
<section style="margin-top: 8rem;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-6 col-md-6 col-lg-6 mrb">
                    <span class="h3 text-uppercase fw-bold">
                        Brownfold <br>
                        <span style="background-color: black;" class="text-white">Case Studies</span>
                    </span>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 mrb">
                    Real-world examples of how companies around the world have leveraged Brownfold services.
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button type="button" class="btn btn-primary rounded-pill">Book Consultation</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 d-flex">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img class="img-fluid" src="{% static 'assets/img_new/vr.svg' %}" alt="">
                    <img class="img-fluid" style=" position: absolute;float: right; top: 5rem;" src="{% static 'assets/img_new/case_studey_1.svg' %}" alt="">
                    <img class="img-fluid" style=" position: absolute;float: right; top: 35rem;" src="{% static 'assets/img_new/small.svg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<section id="top">
  <!-- section -->
  <section id="cs_1" class="mrt">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center mrb_1"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center mrb_1">
                <img src="{% static 'assets/img_new/Logo_yellow.svg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center text-yellow mrb_1">
                <span>SOME OF OUR CASE STUDIES</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center text-yellow mrb_1">
                <span class="h3">EXPLORE SOME OF BEST CASE STUDIES</span>
            </div>
        </div>
    </div>
</section>
<!-- end -->
<!-- section -->
<section class="container-fluid" id="cs_2">
        <div class="row" style="margin-left: 11rem;">
          <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center mrb_1">
            <div class="col-4">
              <div class="card" style="width: 14rem;">
                <img class="img-fluid" src="{% static 'assets/img_new/c_1.svg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metric</a></h5>
                  <p class="card-text">Jan 30, 2023 10 minute read</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 14rem;">
                <img class="img-fluid" src="{% static 'assets/img_new/c_2.svg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                  <p class="card-text">Jan 30, 2023 10 minute read</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="width: 14rem;">
                <img class="img-fluid" src="{% static 'assets/img_new/c_3.svg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                  <p class="card-text">Jan 30, 2023 10 minute read</p>
                </div>
              </div>
            </div>
          </div>
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-around mrb_1">
              <div class="col-4">
                <div class="card" style="width: 14rem;">
                  <img class="img-fluid" src="{% static 'assets/img_new/c_1.svg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                    <p class="card-text">Jan 30, 2023 10 minute read</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 14rem;">
                  <img class="img-fluid" src="{% static 'assets/img_new/c_2.svg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                    <p class="card-text">Jan 30, 2023 10 minute read</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 14rem;">
                  <img class="img-fluid" src="{% static 'assets/img_new/c_3.svg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                    <p class="card-text">Jan 30, 2023 10 minute read</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-around">
              <div class="col-4">
                <div class="card" style="width: 14rem;">
                  <img class="img-fluid" src="{% static 'assets/img_new/c_1.svg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                    <p class="card-text">Jan 30, 2023 10 minute read</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 14rem;">
                  <img class="img-fluid" src="{% static 'assets/img_new/c_2.svg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                    <p class="card-text">Jan 30, 2023 10 minute read</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card" style="width: 14rem;">
                  <img class="img-fluid" src="{% static 'assets/img_new/c_3.svg' %}" class="card-img-top" alt="...">
                    <h5 class="card-title"><a href="{% url 'case_study_details' %}" style="color: #212529;text-decoration: auto;">Top 5 Effective Usability Metrics</a></h5>
                    <p class="card-text">Jan 30, 2023 10 minute read</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
</section>
<!-- end -->
<!-- section -->
<section id="section_3">
    <div id="last">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <hr>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 mrb_1">
            <img class="img-fluid" src="{% static 'assets/img_new/Devidar.svg' %}" alt="">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 text-center mrb_1">
            <img src="{% static 'assets/img_new/Logo_yellow.svg' %}" alt="">
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 text-center text-yellow mrb_1">
            <span>BROWNFOLD</span>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 text-center text-yellow mrb_1">
            <p class="h5">SUBSCRIBE TO OUR NEWSLETTER!</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 d-flex inp justify-content-center text-center text-white mrb_1">
            <div class="input-group mx-1">
                <input type="text" class="form-control" placeholder="Enter name" aria-label="Username">
                <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
              </div>
              <div class="input-group mx-1">
                <input type="text" class="form-control" placeholder="Enter email" aria-label="Username">
                <span class="input-group-text"><i class="fa-regular fa-message"></i></span>
              </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 text-center text-white mrb_1">
            <button type="button" class="btn btn-outline-primary rounded-pill button-hover-none">SUBSCRIBE NOW</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end -->
</section>
  <!-- section -->
<section>
    <div class="container">
      <div class="row mrb_1">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <img class="img-fluid" src="{% static 'assets/img_new/person_laptop.svg' %}" alt="">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 8rem !important;">
          <div class="row">
            <div class="col12">
              <span>HOW IT WORKS</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 fw-bold mrb">
              <p class="h5">FIX YOUR GRAPHIC DESIGN BOTTELNECK, GUARANTEED</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mrb">
              <span>Centralize your unlimited graphic design needs with flexible creative subscription plans and designers who can execute on your creative vision, with a fraction of the hassel.</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button type="button" class="btn btn-primary rounded-pill">SEE PLANS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
