{% extends "base.html" %} 
{% load static %} 

{% block title %} Contact US {% endblock %}

{% block content %}
<div class="mainWrapper">
    <div class="cvContent policy">
        <h1 class="title">
            Privacy Policy
        </h1>
        <div class="content">
            <p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to
                understand how we collect, use, communicate and disclose and make use of personal information. </p>
            <p>This privacy policy sets out how BROWNFOLD uses and protects any information that you
                provided. BROWNFOLD is devoted to ensuring that your privacy is protected. Should we ask you
                to provide certain information by which you can be identified when accessing your account
                information, you can be assured that such information will only be used in accordance with this
                privacy statement. BROWNFOLD has a firm policy of protecting the confidentiality and
                security of information that we collect from you. We do not share your non‐public personal
                information with unaffiliated third parties. </p>
            <p>Please read this policy carefully. It gives you important information about how we handle your
                personal information. BROWNFOLD reserves the right to change this policy at any time.</p>
            <p>This privacy notice discloses the privacy practices for www.brownfold.online. This privacy notice
                applies solely to information collected by this website.</p> <br />






            <h2>1. Information Collection, Use, And Sharing</h2>
            <p>We are the sole owners of the information collected on this site. We only have access to/collect
                information that you voluntarily give us via email or other direct contact from you. </p>
            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not
                share your information with any third party outside of our organization. We may contact you via
                email in the future to tell you about specials, new products or services, or changes to this privacy
                policy.
            </p><br />


            <h2>2. Your Access To And Control Over Information</h2>
            <p>You may opt out of any future contacts from us at any time. You can do the following at any time by
                contacting us via the email address given on our website:


                • See what data we have about you, if any.<br />

                • Change/correct any data we have about you.<br />

                • Have us delete any data we have about you.<br />

                • Express any concern you have about our use of your data.</p><br />





            <h2>3. Security</h2>
            <p>We take precautions to protect your information. When you submit sensitive information via the
                website, your information is protected both online and offline. The information is encrypted and
                transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar
                and looking for "https" at the beginning of the address of the Web page.
                While we use encryption to protect sensitive information transmitted online, we also protect your
                information offline. Only employees who need the information to perform a specific job (for example,
                billing or customer service) are granted access to personally identifiable information. The
                computers/servers in which we store personally identifiable information are kept in a secure
                environment.</p><br />



            <h2>4. Changes To Privacy Policy</h2>
            <p>BROWNFOLD reserves the right to modify this privacy policy at any time. If we make changes
                that materially affect our uses or disclosures of personally identifiable information that we have
                previously collected, we will notify you here, by email, or by means of a notice on our homepage.
            </p><br />



            <h2>5. Contacting Us</h2>
            <p>If you have any questions or suggestions regarding our privacy policy, please contact us at
                support@brownfold.online</p>




        </div>
    </div>
</div>
{% endblock %}