{% extends "base.html" %} 
{% load static %} 

{% block title %} Contact US {% endblock %}

{% block content %}
<div class="mainWrapper">
    <div class="cvContent">
        <h1 class="title">
            Terms & Conditions
        </h1>
        <div class="content">


            <h2>1. Acceptance of Terms</h2>
            <p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of
                Use. If you do not agree with any of these terms, you are prohibited from using or accessing this
                site. The materials contained in this web site are protected by applicable copyright and trade mark
                law. Also note the terms and condition will be updated from time to time without any notifications.
            </p><br />


            <h2>2. Updating Site Terms </h2>
            <p>BROWNFOLD may revise these terms of use for its web site at any time without notice. By using
                this web site you are agreeing to be bound by the current version of these Terms and Conditions of
                Use.</p><br />


            <h2>3. Template Compatibility </h2>
            <p>Our templates are compatible with Microsoft Word (2007, 2010, 2013, 2016, 2019 and MAC 2016).
                Template will be emailed to you within 24 – 48 hours of purchase. You will receive a CV, cover
                letter, icons set, user guide and a link to YouTube tutorial on how to edit template. Templates are
                in Word Macro Enabled Format and some of the features are restricted, read the policy under the
                template page before purchasing.CV template will be provide with your name printed on it, please
                enter the correct name at the time of purchase, as it won’t be editable later. Use the right word
                edition to modify your cv. If there is any issue, we will try our best to resolve it asap. Mac
                edition features are slight different then word office and tutorials are only provided for Microsoft
                office (Windows).Some of the word features are disable like copy & cut function on first page and
                editing the name of the CV.</p><br />


            <h2>4. Template Formatting Service</h2>
            <p>Template formatting service is generally completed within 3 – 5 days from receiving the necessary
                customer information (Resume, Cover Letter, and Photo). Formatting services will be provided
                depending on our workload. The service includes formatting of your CV contents into our CV design.
                Please note it does not include customization of template or writing of CV contents.</p><br />



            <h2>5. Support</h2>
            <p>Support is only available for those who have purchased the product/services from our website. If you
                have any doubt, please contact us at support@brownfold.online.</p><br />


            <h2>6. Limitations Of Liability</h2>
            <p>In no event shall BROWNFOLD or its suppliers be liable for any damages (including, without
                limitation, damages for loss of data or profit, or due to business interruption) arising out of the
                use or inability to use the materials on BROWNFOLD's Internet site, even if Brownfold or a BROWNFOLD authorized representative has been notified orally or in writing of the
                possibility of such damage. In no event shall BROWNFOLD, shall be held liable for anything
                arising out of or in any way connected with your use of this Website.</p><br />


            <h2>7. Pricing</h2>
            <p>BROWNFOLD reserves the right to modify pricing without prior notice or consent.</p><br />


            <h2>8. Refund Policy </h2>
            <p>We do not offer refunds due to the digital nature of the product. We firmly believe in and stand
                behind our products 100%, but we understand that they cannot work perfectly for everyone all of the
                time, we will provide maximum support from our end to resolve any issue.</p><br />


            <h2>9. Email</h2>
            <p>BROWNFOLD may occasionally send you emails related to the purchase of product(s) from our
                company. We may also send you occasional email newsletters relating to CV Templates updates,
                promotions. We will never sell or release your email to any third party vendors.</p>



        </div>
    </div>
</div>
{% endblock %}