{% extends "base.html" %}
{% load static %}

{% block title %} Whishlist {% endblock %}

{% block content %}

<div class="mainWrapper templatesWrapper wishlistWrapper">

    <div class="categoryTitle">
        <div class="rotateWrapper">
            <div class="name">
                <div>
                    Wishlist
                </div>
            </div>
        </div>
    </div>

    <div class="scrollHint">
        <div class="rotateWrapper">
            <div>
                Scroll down
            </div>
        </div>
    </div>

    <section class="templatesList">
        <div class="wrapper">
            <div class="templatesListWrapper">
                <div id="w0">
                    <div id="w1" class="list-view">
                        {% for obj in existing_orders %}
                            <div class="item templateItem" data-key="{{ obj.id }}">

                                <div class="imgWrapper">
                                    <div class="imgBlock">
                                        <a href="{% url 'product:product_detail' product_slug=obj.product.slug %}" class="toProfile">
                                            {% if obj.product.image_1 %}
                                                <img src="{{ obj.product.image_1.url }}"
                                                    alt="Tempalte 1"> 
                                            {% else %}
                                                <img src="{% static 'uploads/product/66/7e9a6bc3d484a1dc4b3ce7bbff386016.png' %}"
                                                    alt="Tempalte 1"> 
                                            {% endif %}
                                        </a>
                                        <a class="cart_btn" href="{% url 'ecommerce_cart:add_to_cart' product_id=obj.product.id %}" data-formatting="150.00"
                                            {% if obj.product.image_1 %} 
                                                data-img="{{ obj.product.image_1.url }}"
                                            {% else %}
                                                data-img="{% static 'uploads/product/66/7e9a6bc3d484a1dc4b3ce7bbff386016.png' %}"
                                            {% endif %}
                                            data-title="{{ obj.product.name }}" data-price="$35.00" data-formatting-html="$150.00">Add
                                            to cart</a>  <a
                                            class="no_whislist" href="#"><img
                                                src="{% static 'assets/d44acf32/img/like_cross.svg' %}" class="svg "></a>
                                    </div>
                                </div>
                                <div class="allInfoWrapper">
                                    <div class="categories">
                                        <a href="templates481e.html?c=4">
                                            {{ obj.product.category.name }} </a>
                                    </div>
                                    <a href="templates/Arch1.html" class="title">
                                        {{ obj.product.name }}</a>
                                    <div class="infoWrapper">
                                        <div class="ratingWrapper">
                                            <div class="label">
                                                Rating:
                                            </div>
                                            <div class="rating">
                                                <span class=""></span>
                                                <span class=""></span>
                                                <span class="active"></span>
                                                <span class=""></span>
                                                <span class=""></span>
                                            </div>
                                        </div>
                                        <div class="priceWrapper">
                                            <div class="label currency">
                                                USD
                                            </div>
                                            <div class="value">
                                                ${{ obj.product.product_price }} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}