{% extends "base.html" %}
{% load static %}

{% block title %} Whishlist {% endblock %}

{% block content %}

<div class="mainWrapper templatesWrapper wishlistWrapper">

    <div class="categoryTitle">
        <div class="rotateWrapper">
            <div class="name">
                <div>
                    Wishlist
                </div>
            </div>
        </div>
    </div>

    <div class="scrollHint">
        <div class="rotateWrapper">
            <div>
                Scroll down
            </div>
        </div>
    </div>

    <section class="templatesList">
        <div class="wrapper">
            <div id="whislist-item">
                {% include 'whislist_ajax_list.html' %}
            </div>
        </div>
    </section>

</div>

{% endblock %}


{% block js %}

<script type="text/javascript">
    
    function update_anchor(id)
    {
        var link = document.getElementById("cart_link");
        link.setAttribute("onclick", "add_to_cart(" + id + ", 0)");

        var checkBox = document.getElementById("formatting_cb");
        checkBox.setAttribute("data", id);
    } 
  </script>

  <script>
    function update_final_link() {
        var checkBox = document.getElementById("formatting_cb");
        var url = document.getElementById("cart_link");

        var extra_charge = checkBox.getAttribute("data")
        var id_int = parseInt(extra_charge)
        console.log(id_int)

        if (checkBox.checked == true){
            url.setAttribute("onclick", "add_to_cart(" + id_int + ", " + 25 + ")");
        } else {
            url.setAttribute("onclick", "add_to_cart(" + id_int + ", 0)");
        }
    }
  </script>


  <script>
    function update_link()
    {
        document.getElementById("show_notify_cart").style.display = "none";
        document.body.classList.add("showCart"); 
    }
    function add_to_cart(product_id, extra_charge) {
        $.ajax({
            url: '{% url "ecommerce_cart:add_to_cart_ajax" %}',
            data: {
                'product_id' : product_id,
                'extra_charge' : extra_charge,
            },
            dataType: 'json',
            success: function (response) {
                $('#cart_content').html(response['html']);
                document.getElementById("cart_popup").style.display = "none"; 
                document.getElementById("show_notify_cart").style.display = "unset"; 
                document.getElementById("show_notify_cart").innerHTML = "<div>Selected Product Successfully Added to Cart!</div>";
                setTimeout(update_link, 2000);

            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });

    }
  </script>


<script>
    function remove_from_whislist(product_id) {
        $.ajax({
            url: '{% url "ecommerce_cart:remove_from_whislist_ajax" %}',
            data: {
                'product_id' : product_id,
            },
            dataType: 'json',
            success: function (response) {
                $('#whislist-item').html(response['html']);
            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });

    }
</script>

{% endblock %}